/* Box sizing reset */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Screen fill */
html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

/* Fonts */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

:root {
    --background-color: #8baec6;
    --button-color: #3A86B7;
    --highlight-color: #303030;

    --background-primary: #FCFCFC;
    --background-alternate: #CDCDCD;
    --text-primary: rgba(0, 0, 0, 0.87);
    --text-inverse: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1A577F;
        --button-color: #609EC7;
        --highlight-color: #CFCFCF;
    
        --background-primary: #0C0C0C;
        --background-alternate: #404040;
        --text-primary: #FFFFFF;
        --text-inverse: rgba(0, 0, 0, 0.87);
    }
}

button {
    background: 0;
    border: 0;
    
    color: var(--text-primary);

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    
    font-family: inherit;
}

button:focus, button:hover {
    border: 2px solid var(--button-color);
}

.dialog {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0,0,0,0.25);

    z-index: 12;

    pointer-events: none;
}

.dialog-content {
    background-color: var(--background-primary);
    color: var(--text-primary);
    pointer-events: all;

    width: 315px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
}

.dialog-content > label {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
    height: 26px;
    font-weight: 600;
}

.dialog-content > label > input {
    margin-left: auto;
}

.dialog-content > label > input[type='text'], .dialog-content > label > input[type='number'] {
    width: 175px;
}

.dialog-content button {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;

    width: auto;
}

.dialog-content .buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.dialog-content button:focus, .dialog-content button:hover {
    border: 0;
    outline: 2px solid var(--button-color);
}

.dialog-content h1 {
    font-weight: 600;
}

input[type="text"],
input[type="number"] {
    font-size: 16px;
}